@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@theme {

  /* Semantic Colors */
  --color-background: #E7ECEA;
  --color-surface: #FFFFFF;
  --color-border: #6E8078;
  --color-text-muted: #6E8078;
  --color-text-main: #1A1D1F;
  --color-primary: #124935;
  --color-footer: #E7ECEA;

}

/* CSS */
:root {
  /* Typography */
  font-feature-settings: "liga" 1, "calt" 1;
  font-family: "Nunito Sans", sans-serif;
  font-variant-numeric: tabular-nums;
}