---
import { Image } from "astro:assets";
import logoAsset from "../../images/logo.png";
import { Input } from "../ui/input";
import { Button } from "../ui/button";
import { Search, User, ShoppingCart } from "lucide-react";
import SearchBar from "./SearchBar";
import CartIcon from "../cart/CartIcon";
import MobileMenu from "./MobileMenu";
import { getAllProducts } from "../../lib/shopify";

const products = await getAllProducts();
---

<header class="w-full z-50 border-b bg-surface">
    <div class="flex w-full flex-wrap items-center justify-between p-4 gap-y-4">
        <div class="flex items-center gap-4">
            <MobileMenu client:load />
            <a href="/">
                <Image alt="logo" src={logoAsset} class="h-8 w-auto" />
            </a>
        </div>

        <div class="order-last w-full md:order-none md:w-auto">
            <SearchBar initialProducts={products} client:load />
        </div>

        <div class="flex items-center space-x-2">
            <a href="/carrinho">
                <CartIcon client:load />
            </a>
        </div>
    </div>

    <div
        class="flex w-full flex-wrap items-center justify-center gap-x-6 gap-y-1 bg-primary px-4 py-2 text-sm text-white"
    >
        <span>Frete grátis e devolução</span>
        <span class="hidden opacity-50 md:block">•</span>
        <span>Envio em 24h</span>
        <span class="hidden opacity-50 md:block">•</span>
        <span>15% OFF na primeira compra</span>
    </div>
</header>
